.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.upper-side {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.side-botton a{
  padding: 14px;
  border: 1px solid lightblue;
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.main-chat {
  width: calc(100% - 300px);
  background-color: #fff;
}

.chat-header {
  height: 100px;
  padding: 0 40px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.chat-footer {
  height: 90px;
  background-color: #ddd;
  padding: 20px 40px;
}